<Resources>
  <string id="%1%" value="Ressort Belleville - ANSI"/>
  <string id="%2%" value="Nom"/>
  <string id="%3%" value="Désignation du ressort"/>
  <string id="%4%" value="D"/>
  <string id="%5%" value="Diamètre externe"/>
  <string id="%6%" value="in"/>
  <string id="%7%" value="Diamètre interne"/>
  <string id="%8%" value="d"/>
  <string id="%9%" value="Epaisseur de la matière"/>
  <string id="%10%" value="t"/>
  <string id="%11%" value="Hauteur à vide"/>
  <string id="%12%" value="H"/>
</Resources>